section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 150px;
  height: 150px;
  background-color: lightblue;

  /* TODO: Add a margin property */
  margin: width: 120px;
  height: 120px; 
  /* TODO: Add a padding property */
  padding: width: 150px;
  height: 150px;
  /* TODO: Add a border property */
  border: width: 20px;
  height: 20px; 
}
